<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Warehouse</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Warehouse</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/products}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/incoming_waybills}">Incoming Waybills</a>
            </li>
        </ul>
    </div>
</nav>

<div class ="container">
    <div class = "row">
        <h1> List Counteragents </h1>
    </div>

    <div class = "row">
        <div class = "col-lg-3">
            <a th:href = "@{/counteragents/new}" class = "btn btn-primary btn-sm mb-3"> Add Counteragent</a>
        </div>
    </div>
    <table class = "table table-striped table-bordered">
        <thead class = "table-dark">
        <tr>
            <th> Counteragent Name </th>
            <th> Counteragent TIN </th>
            <th> Counteragent Address </th>
            <th> Counteragent Phone </th>
            <th> Counteragent Email </th>
            <th> Counteragent Bank </th>
            <th> Counteragent Bank account </th>
            <th> Actions </th>
        </tr>
        </thead>

        <tbody>
        <tr th:each = "counteragent: ${counteragents}">
            <td th:text = "${counteragent.name}"></td>
            <td th:text = "${counteragent.tin}"></td>
            <td th:text = "${counteragent.address}"></td>
            <td th:text = "${counteragent.phone}"></td>
            <td th:text = "${counteragent.email}"></td>
            <td th:text = "${counteragent.bankName}"></td>
            <td th:text = "${counteragent.bankAccount}"></td>
            <td>
                <a th:href = "@{/counteragents/edit/{id}(id=${counteragent.id})}"
                   class = "btn btn-primary">Update</a>

                <a th:href = "@{/counteragents/{id}(id=${counteragent.id})}"
                   class = "btn btn-danger">Delete</a>

            </td>
        </tr>
        </tbody>

    </table>

</div>
</body>
</html>